set nocompatible
filetype off
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()
Plugin 'VundleVim/Vundle.vim'
Plugin 'avakhov/vim-yaml'

syntax on
set number
set autoindent
set hlsearch
set expandtab
set tabstop=4
set shiftwidth=4
